*

!deployment/
!deployment/**
!cloud_functions/
!cloud_functions/**
!ml_pipeline/
!ml_pipeline/**
!orchestration/
!orchestration/**

**/.venv
**/.venv/**
**/__pycache__
**/__pycache__/**
**/.pytest_cache
**/.pytest_cache/**
**/.astro
**/.astro/**
**/*.ipynb
**/*.json
**/.git
**/.git/**