".vscode/" 
"__pycache__/" 

# ==========================================
# TERRAFORM
# ==========================================
# Bỏ qua local cache và provider binaries
**/.terraform/*
.terraform/

# Bỏ qua state files (Dù đã dùng GCS Backend nhưng vẫn phải ignore để phòng hờ local state)
*.tfstate
*.tfstate.*

# Bỏ qua crash logs
crash.log
crash.*.log

# Bỏ qua file chứa secret variables
*.tfvars
*.tfvars.json

# Bỏ qua overrides (local test)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ĐƯỢC PHÉP push tfvars mẫu
!*.example.tfvars
!terraform.tfvars.example

# ==========================================
# PYTHON & DATA PIPELINE
# ==========================================
# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# SECRETS & CREDENTIALS
# ==========================================
# Dataform / GCP Local Credentials
.dataform/credentials.json
*.json
!*.schema.json # Vẫn cho phép push file định nghĩa schema nếu có

# Environment variables
.env
.env.local


