project_id = "project_id"
region     = "asia-southeast1"
env        = "dev"

common_labels = {
  project    = "hospital-analytics"
  env        = "dev"
  managed_by = "terraform"
  layer      = "core-infra"
}